// Tailwind CSS import
@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@font-face {
    font-family: "Pentatonic";
    src: url("../fonts/Pentatonic-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pentatonic";
    font-stretch: condensed;
    src: url("../fonts/Pentatonic-RegularCond.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Aeroport";
    font-style: italic;
    src: url("../fonts/Aeroport-Italic.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Aeroport";
    font-weight: bold;
    src: url("../fonts/Aeroport-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Aeroport";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Aeroport-BoldItalic.woff") format("woff");
    font-display: swap;
}

// Globals
* {
    margin: 0;
    line-height: 1.5;
}
body {
    @apply bg-[url('../images/background.webp')] subpixel-antialiased flex flex-col items-center w-full bg-fixed  bg-top bg-cover bg-no-repeat text-center text-main-white text-base font-title;
}
#root {
    @apply bg-main-black/[.97] flex flex-col items-center w-full h-screen;
}
div,
main,
header,
footer,
button,
a {
    @apply flex flex-col;
}
p,
li {
    @apply pl-2 pr-4 font-text text-left text-lg tracking-tight cursor-text mb-4 last:mb-0;
}
table,
th,
td {
    @apply border-b border-main-white/50 text-left p-2;
}
table {
    @apply border border-main-white/50 w-full tablet-md:w-[80%] laptop:w-[50%] text-left;
}
th {
    @apply bg-cyan-600;
}
tr {
    @apply even:bg-main-white/5;
}

// Scrollbar
::-webkit-scrollbar {
    @apply mobile:w-2 tablet-md:w-3;
}
::-webkit-scrollbar-track {
    @apply bg-white/[.05];
}
::-webkit-scrollbar-thumb {
    @apply bg-white/[.15] hover:bg-white/[.25] rounded-sm;
}
