#HeaderMenuContent {
    @apply fixed items-start bg-gradient-to-br from-cyan-700/90 to-cyan-800/90 z-30 w-[90%] h-screen duration-300 px-4 py-4 overflow-y-auto;

    > a {
        @apply leading-none text-start text-2xl mb-4;
    }

    > h2 {
        @apply border-b border-main-white w-full text-left pl-1 text-lg mb-2;
    }

    > div {
        @apply mb-2;

        > a {
            @apply w-fit pl-4 text-left leading-none mb-2 last:mb-4;
        }
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
